.miDivision{
    border: black solid 5px;
    background-color: slategray;
    width: 230px;
    margin: 0 auto;
   
}

.inputText{
    background-color: mistyrose;
    width: 180px;
    margin: 5px;
}

.operButton{
    margin: 20px;
    background-color: dimgray;
    border-style: solid;
    border-color: black;
    width: auto;
    height: 35;
    font-size: 30px;
    font-family: cursive;
}

.sigButton{
    margin: 20px;
    background-color: darkred;
    border-style: solid;
    border-color: black;
    width: auto;
    height: auto;
    font-size: 30px;
    font-family: cursive;

}

.cButton{
    margin: 20px;
    background-color: darkred;
    border-style: solid;
    border-color: black;
    width: auto;
    height: auto;
    font-size: 30px;
    font-family: cursive;

}

#resultado{
    font-size: 80px;
    font-family: fantasy;
    color: goldenrod;
    width: 80px;
    margin: 0 auto;

}